/* Add this to your CSS file */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f9e3e3; /* Light pink background */
  background: linear-gradient(to bottom right, #ffe1e1, #d08de2);
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #e84949; /* Dark red text color */
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  gap: 10px;
  margin-left: 5px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
  display: flex; 
  align-items: center; 
  padding: 10px;
  height: 40px; 
  width: 100px; 
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.yes-button {
  background-color: #64b764; /* Light green */
  color: white;
  border: none;
}

.no-button {
  background-color: #ff7b7b; /* Light red */
  color: white;
  border: none;
}

.no-button.bounce-rotate {
  animation: bounceRotate 0.8s ease-in-out;
}

@keyframes bounceRotate {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(0);
  }
  40% {
    transform: translateY(-30px) rotate(-15deg);
  }
  60% {
    transform: translateY(-15px) rotate(15deg);
  }
}

/* Additional Valentine's Day styles */
.app img {
  border-radius: 10px; /* Rounded corners for images */
}

/* Heart shape for yes button */
.yes-button::before {
  content: '\2665';
  font-size: 1.5rem;
  margin-right: 5px;
}

/* Broken heart shape for no button */
.no-button::before {
  content: '\1F494';
  font-size: 1.5rem;
  margin-right: 5px;
}
